#container {
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#cen {
    top: 50%;
    left: 50%;
    transform: translate(0%, 45%);
    text-align: center;
}

#title {
    font-size: 3.5rem;
}

#content {
    font-size: 8.5rem;
}